<div class="wordmark">Administration page</div>
    <h2>Students</h2>
<% @students.each do |student| %>
    <ul>
        <li>Email => <%= student.email %></li>
      
    </ul>
<% end %>
<!-- <div class="container"> -->
    <h2>Mentors</h2>
<% @mentors.each do |mentor| %>
    <ul>
        <li>Email => <%= mentor.email %></li>
    </ul>
<% end %>


<h2>Admins:</h2>
<% if @admins %>
 <% @admins.each do |admin| %>
   <ul>
        <li>Email => <%= admin.email %></li>
   </ul>
 <% end %>
<% else %>
 <h3>There are no current admins</h3>
<% end %>

