<!DOCTYPE html>
<html>
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
        <style media="screen" type="text/css">
         .logo-image {
           width: 150px;
           }
        </style>
    </head>
    <body style="text-align: center;
                 margin-top: 25px;
                 background-color: #ccc">
        <div class="container" style="width: 100%;">
            <div class="content" style="margin: 0 auto;
                                        border: 1px solid #ccc;
                                        width: 75%;
                                        padding: 15px;
                                        background-color: #fff">
                <div class="logo" style="margin-top: 15px;
                                         margin-bottom: 15px">
                  <%= image_tag("gray_brain.png", class: 'logo-image', :alt => "Gray Matter Logo") %>
                </div>
                <div class="title" style="border: 1px solid #ccc;
                                          width: 100%;
                                          background-color: #000;
                                          color: #14BCC9">
                  <h1>Welcome to Gray Matter</h1>
                </div>
                <p>
                    Congradulations, you have been invited to Gray Matter. Please use the information below to log in and create a profile and begin colaborating.
                </p>
                <p>
                    <a href="<%= @host_url %>">Sign In</a>
                </p>
                <p>
                    username: <%= @user.email %><br/>
                    password: <%= @password %>
                </p>
                <div class="footer" style="border-top: 1px solid #ccc">
                    date goes here
                </div>
            </div>
        </div>
    </body>
</html>
