<div class="container announcements-container">
    <div class="row">
        <div class="col-md-8">
            <div class="row">
                    <% @announcements.each do |announcement| %>
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading announcements-head <%= @header_styles.sample %>"><i class="fa fa-bullhorn"></i>&nbsp;&nbsp;<%= announcement.title %></div>
                            <div class="panel-body">
                                <%= announcement.body %>
                            </div>
                            <div class="panel-footer announcements-footer">
                                <div class="row">
                                    <div class="col-sm-6">
                                        by: First Last
                                    </div>
                                    <div class="col-sm-6 pull-right">
                                      <%= announcement.created_at.to_time.strftime('%d/%m/%Y at %l:%M %p') %>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <% end %>
            </div>
        </div>
        <div class="col-md-4">
           second column
        </div>
    </div>
</div>


