<div class="container">
<!-- <nav class="nav">
  <ul class="nav-list">
    <li class="nav-item"><a href="#about">About</a></li>
    <li class="nav-item"><a href="#portfolio">Portfolio</a></li class="nav-item">
    <li class="nav-item"><a href="#links">Links</a></li>
  </ul>
</nav>
 -->
<main>
<br/>
<br/>

  <section id="about">
      <figure class="about-fig">
        <img src="http://simplerev.com/wp-content/uploads/Generic-Avatar.jpg" width="200" alt="Picture of Student" class="profile-pic">
        <br/>
        <header class="header">
          <h1 class="wordmark">Jamie Doe</h1>
          <h4 class="wordmark">(mentor)</h4> 
        </header>
          <div>
            <p class="info" >Email: <a href="mailto:jamiedoe@gmail.com" target="_top">jamiedoe@gmail.com</a></p>
            <p class="info" >Education: <a href="#">XX University</a></p>
            <p class="info" >Employer: <a href="#">XX Company</a></p>
            <p class="info" >Specialty: <a href="#">Finance</a></p>
          </div> 
        </header>

      <figcaption class="about-caption">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        Nam venenatis lacus sed dignissim efficitur. Cras tristique tempor tempus. 
        Sed bibendum neque id sagittis convallis. Sed fermentum tincidunt ante sit amet pulvinar. 
        Aenean elementum porttitor erat eget sagittis. Integer auctor semper enim ac finibus. 
        Phasellus lobortis vitae massa eu pretium. Quisque ac congue ligula, laoreet aliquet mi. 
        Morbi et commodo ipsum. Sed non dui orci. Integer in dui eu velit pulvinar aliquam. 
        Proin eget lobortis libero, sed finibus mauris. 
        Etiam a felis elementum nunc lobortis volutpat at a ex. 
        Sed et dictum tellus.
      </figcaption>
    </figure>
  </section>

  <section id="links">
    <h2>Resources</h2>
    <ul>
      <li><a href="#">Resource 1</a></li>
      <li><a href="#">Resource 2</a></li>
      <li><a href="#">Resource 3</a></li>
    </ul>
  </section>
  <section id="links">
    <h2>Workshops</h2>
    <ul>
      <li><a href="#">Workshop 1</a></li>
      <li><a href="#">Workshop 2</a></li>
      <li><a href="#">Workshop 3</a></li>
    </ul>
  </section>

 
  <section id="portfolio">
    <h2>Resume</h2>
    
    <ul class="portfolio-list">
      <li class="portfolio-item">
        <figure>
          <a href="https://nestersteachingblog.files.wordpress.com/2013/04/janedoeresume2.jpg">
          <img src="https://nestersteachingblog.files.wordpress.com/2013/04/janedoeresume2.jpg" alt="Mixer" width="300"></a>
        </figure>
      </li>
    </ul>
  </section>
  <!-- <footer class="footer">
    <p>&copy; 2016 Gray Matter</p>
  </footer>*/ -->
</main>
<br/>
<br/>
</div>
