$font-family-amatic: 'Amatic SC', cursive;
$font-family-amatica: 'Amatica SC', cursive;
$font-family-cabin-sketch: 'Cabin Sketch', cursive;
$font-family-fredericka: 'Fredericka the Great', cursive;* { box-sizing: border-box; }
$font-family-general: open sans condensed,sans-serif;

$colorOne: #ffba02; //yellow
$colorTwo: #00b0c1; //cyan
$colorThree: #c1c1c1; //gray
$colorFour: #25252f; //black
$colorFive: #ffffff; //white
$colorSix: #7b7b7b; //Dark gray