@import "partials/globals";

.student-table, .mentor-table, .admin-table, .announcements-table, .resources-table {
  background-color: #fff;
  padding: 2px 10px 2px 10px;
}

.add-user {
  margin-top: 15px;
}

.add-resource-button, .add-announcement-button {
    padding-top: 10px;
    height: 56px;
}

.admin-form {
  margin-top: 30px;
}

.admin-show {
  margin-top: 30px;
}
