@import "partials/globals";

.story-title {
    color: $colorTwo !important;
    font-size: 2em;
}

.story-container {
    font-size: 1.3em;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
    background-color: #ccc;
}

.story-submitted {
    margin-right: 10px;
}

.story-hr {
   
}

.comments-container {
    margin: 10px;
}

.new-story-btn {
    width: 100%;
    color: $colorOne !important;
    background-color: $colorTwo;
}

.main-story-title {
    color: $colorTwo !important;
    margin: 10px 0 20px 0;
}

.story-small {
    color: $colorThree;
}


/* comments */
#comment_reply_box {
    display: none;
    /* visibility: hidden; */
}

#comment_reply {
    cursor: pointer;
}

#comment_reply {
    color: $colorSix;
}

.new-story-container {
    padding-bottom: 50px;
    padding-top: 25px;
}

/* I was looking to use something different than the bullet */
/* ul { */
/*     list-style-image: url('comments.png'); */
/* } */