* { box-sizing: border-box; }
img { max-width: 100%; }

.container {
  background-color: #fafafa;
  padding: .99rem;
  border-radius: 10%;
}

body {
  font-family: Avenir, 'Helvetica Neue', Arial, sans-serif;
  margin: 2rem auto;
  /*max-width: 40rem;*/
  color: #333;
  padding: 0 1rem;
}

.info {
  color: #00cccc;
  font-weight: 700;
}

.wordmark {
  /*font-size: 1.25rem;*/
  line-height: 1;
  letter-spacing: .1em;
  text-transform: uppercase;
  font-weight: 300;
  color: #555;
  margin: 0 0 .5rem 0;
  text-align: center;
}

.nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-item {
  display: inline-block;
  line-height: 1.25;
  padding: 0 1rem;
}

.nav-item:first-child {
  padding-left: 0;
}

.nav-item a {
  line-height: 3rem;
  display: block;
  color: #777;
}

.about-fig {
  margin: 0 0 2rem 0;
}

.about-caption {
  /*font-size: .875rem;*/
  margin: 0 0 2rem 0;
}

.profile-pic {
  /*display: inline-block;*/
  border-radius: 50%;
  /*margin: 0 1.25rem 1.5rem 0;*/
  width: 200px;
  align: center;
}

.portfolio-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.portfolio-item {
  display: inline;
}

.portfolio-item figure {
  display: inline-block;
  width: 32%;
  padding: .5rem;
  margin: 0;
}

.portfolio-item img {
  border: 1px solid #777;
}

#links {
  color: #00cccc;
}
/*.footer {
  background-color: #fafafa;
  padding: .5rem;
}*/

// Place all the styles related to the Students controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
