// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$header-colors: #fd5f5e, #fd5f5e, #64b3de, #e3c7fe;
$colorOne: #ffba02; //yellow
$colorTwo: #01b7c5; //cyan
$colorThree: #a7b8c2; //gray
$colorFour: #25252f; //black
$colorFive: #cbcbce; //shade of white
$colorRed: #c92114;

$font-family-amatic: 'Amatic SC', cursive;
$font-family-amatica: 'Amatica SC', cursive;
$font-family-cabin-sketch: 'Cabin Sketch', cursive;
$font-family-fredericka: 'Fredericka the Great', cursive;

* { box-sizing: border-box; }

.content-container {
    margin-top: 25px;
}

.announcements-container {
    border-right: 1px solid #ccc;
    
}

.announcements-panel {
    border: 1px solid red;

}

.announcements-head {
    font-size: 2em;
}

.announcements-head-title {
    font-family: $font-family-amatica;
    font-weight: 900;
    font-size: 1em;
}

.resource-head-title {
    font-family: $font-family-amatica;
    color: $colorRed !important;
    font-weight: 900;
    font-size: 2em;
}

.announcements-title {
    font-family: $font-family-fredericka;
}

.panel-default > .panel-heading {
}

.heading-color-one {
    background-color: $colorOne !important;
}

.heading-color-two {
    background-color: $colorTwo !important;
}

.heading-color-three {
    background-color: $colorThree !important;
}

.heading-color-four {
    color: #fff !important;
    background-color: $colorFour !important;
}

.heading-color-five {
    background-color: $colorFive !important;
}

.resource-image {
    width: 50px;
    padding-right: 10px;
}